.information-wrapper {
    width: 100%;
}
.information-header {
    margin: 0;
    padding: 10px 0;
    font-size: 28px;
    font-weight: 400;
}
.information-header span {
    font-weight: bold;
}
.info-paragraph {
    margin: 0;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}
.info-description, .info-contacts {
    width: 60%;
    padding: 40px 0;
    margin: 0 auto;
}
.info-contacts {
    padding: 20px 0;
}
.info-item {
    width: 100%;
    padding: 22px 0;
    font-size: 16px;
}
.info-item-right {
    display: flex;
    justify-content: end;
}
.info-item span {
    font-weight: bold;
}
.contacts-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.contacts-left, .contacts-right {
    padding: 40px 0;
}
.info-competition, .info-links-span, .info-links, .info-project-title {
    padding: 10px 0;
}
.info-links-span {
    display: flex;
    justify-content: end;
}
.info-links {
    display: flex;
    align-items: center;
}
.info-link {
    margin-left: 10px;
}
.info-link a {
    color: var(--second);
    text-decoration: none;
}
.media {
    display: none;
}
@media (max-width: 820px) {
    .info-description, .info-contacts {
        width: 90%;
    }
    .contacts-links {
        display: none;
    }
    .media {
        display: block;
    }
    .info-link {
        margin: 0;
    }
    .flex {
        display: flex;
        justify-content: space-between;
    }
}

