.options-menu-wrapper {
    width: 400px;
    height: calc(100vh - 84px);
    position: fixed;
    top: 84px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.burger-menu {
    width: 400px;
    height: 100%;
    border-top: 2px solid var(--main-border);
    background-color: var(--main);
    box-shadow: 0 -1px 5px #5c5c5c;
    transition: 0.2s;
}
.burger-button {
    position: fixed;
    left: 0;
    top: 70%;
    transition: 0.2s;
}
.active-burger {
    left: 400px;
}
.burgerbtn {
    height: 80px;
    width: 25px;
    border: none;
    outline: none;
    padding: 0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--main);
}
.burger-hidden div {
    display: none;
}
.burger-hidden {
    width: 0;
}
.fixed-options-menu-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.options-menu-title {
    padding: 25px 0 5px;
    width: 90%;
    font-weight: bold;
    font-size: 16px;
}
.options-menu-message {
    width: 90%;
    font-size: 14px;
    padding: 5px 0 25px;
}
.options {
    width: 96%;
    height: 400px;
    font-size: 14px;
    border-left: 6px solid var(--second);
    margin: 20px 0;
    overflow: auto;
}
.options a{
    color: var(--neutral);
    text-decoration: none;
}
.options::-webkit-scrollbar {
    width: 5px;
}

.options::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}

.options::-webkit-scrollbar-track {
    background-color: transparent;
}
.option {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}
.option:hover {
    background-color: var(--main-selected);
}
.option span {
    padding: 0 20px;
}
