.test-options-wrapper {
    font-family: "Roboto Thin", sans-serif;
    padding: 40px 0;
    width: 60%;
    margin: 0 auto;
    color: white;
}
.settings-title {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-size: 31px;
    border-bottom: 3px solid var(--second);
    padding: 10px 0;
}
.settings-form {
    width: 100%;
}
.settings-form input {
    width: 100%;
    background-color: var(--main-medium);
    padding: 12px 0;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--neutral);
}
.settings-form input::placeholder {
    font-size: 14px;
}
.name-input-group, .surname-input-group {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main-border);
}

