:root {
    --second: #40e5a8;
    --second-selected: #4eb18d;
    --neutral: #e5e5e5;
    --neutral-selected: #bbbbbb;
    --main: #222222;
    --main-border: #787878;
    --main-dark: #1a1a1a;
    --main-selected: #2a2a2a;
    --main-light: #424749;
    --main-medium: #34393b;
    --main-options: #52585a;
    --main-options-light: #52585a;
    --red: #af3b3b;
}
body {
    margin: 0;
    background-color: var(--main-medium);
    font-family: "Roboto Light", sans-serif;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    border-radius: 5px;
}
body::-webkit-scrollbar-track {
    background-color: transparent;
}
a {
    text-decoration: none;
}
.app-wrapper {
    margin: 0 auto;
    box-sizing: border-box;
}
.test-wrapper {
    border-top: 1px solid var(--second);
    display: flex;
    justify-content: end;
}
.home-components-group {
    display: flex;
}
.home-components {
    padding: 84px 0 0 400px;
    width: 75%;
    transition: 0.2s;
}
.about-components {
    padding: 84px 0 0;
}
.result-components {
    padding: 84px 0 0;
}

@media (max-width: 820px) {
    .app-wrapper {
        width: 100%;
        margin: 0;
    }
    .home-components {
        padding: 64px 0 0 0;
        width: 100%;
    }
}