.spinner {
    margin: 0 auto;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.spinner img {
    width: 160px;
    height: 160px;
    margin: 100px 0;
}
.return-home {
    border: none;
    outline: none;
    background-color: var(--main-dark);
    padding: 20px 40px;
    color: var(--white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
}
.return-home:hover {
    background-color: var(--selected);
}