.questions-menu-wrapper {
    width: 400px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Rubik", sans-serif;
    background-color: var(--main);
}
.question-list-menu {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
}
.question-list-menu a {
    display: flex;
    align-items: center;
}
.active-question {
    background-color: var(--main-medium);
}
.questions-list {
    width: 100%;
    font-size: 16px;
}
.question-group {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s;
}
.question-group:hover {
    background-color: var(--main-selected);
}
.active-question:hover {
    background-color: var(--main-medium);
}
.question-list-border-group {
    display: flex;
    border-bottom: 1px solid var(--main-medium);
    height: 100%;
}
.question-index {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.question {
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.question span {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.question-logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.questions-panel {
    display: none;
}
@media (max-width: 820px) {
    .questions-menu-wrapper {
        height: inherit;
        width: 100%;
        position: inherit;
    }
    .questions-list {
        display: none;
    }
    .questions-panel {
        background-color: var(--main-medium);
        width: 90%;
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: repeat(2, auto);
        justify-content: space-between;
        gap: 10px;
        margin: 30px auto;
    }
    .question-icon {
        width: 45px;
        height: 45px;
        background-color: var(--main);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1px;
        border-radius: 15px;
        color: var(--main-border);
        border: 1px solid var(--main-border);
        font-size: 20px;
        font-weight: bold;
    }
    .question-icon:hover {
        background-color: var(--main-selected);
    }
    .question-chosen {
        background-color: var(--second);
        border: none;
        color: var(--main);
    }
    .question-chosen:hover {
        background-color: var(--second-selected);
    }

}
