.test-result {
    width: 60%;
    padding: 40px 0;
    margin: 0 auto;
    font-size: 24px;
}
.correct-answers-message {
    justify-content: start;
}
.marks-group-item, .user-info, .extra-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}
.user-info, .extra-info {
    color: var(--neutral-selected);
    font-size: 18px;
}
.extra-info {
    justify-content: space-around;
}
.test-result span {
    padding: 0 100px 0 0;
}
.extra-info span {
    padding: 0 5px;
}
.result-buttons {
    margin: 20px 0;
    display: flex;
    justify-content: end;
    align-items: center;
}
.result-buttons a  {
    margin-left: 20px;
}
.correct-answers {
    font-size: 16px;
}
.test-question {
    padding: 22px 0;
    color: var(--neutral-selected);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-answer, .correct-answer {
    padding: 12px 0;
}
.wrong-answer {
    color: var(--red);
}
.correct-answer {
    color: var(--second);
}
.answer-info {
    margin: 20px 0;
}
.answer-info span {
    padding: 0;
    margin: 0;
    font-weight: bold;
}