.intro-wrapper {
    background-color: var(--main-light);
    color: var(--neutral);
    border-bottom: 1px solid #b7c7c2;
    padding: 20px;
}
.intro-info {
    font-family: "Roboto Light", sans-serif;
}
.intro-header {
    margin: 0;
    padding: 10px 0;
    font-size: 28px;
    font-weight: 400;
}
.intro-paragraph {
    margin: 0;
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
}
.linked-text {
    font-weight: bold;
    color: var(--second);
    text-decoration: none;
}
.intro-full-width {
    width: 60%;
    margin: 0 auto;
}
