.forms-wrapper {
    width: 60%;
    margin: 0 auto;
    padding: 40px 0;
}
.available-forms-message {
    width: 100%;
    padding: 22px 0;
    font-size: 16px;
}
.available-forms {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    padding: 40px 0;
}
.available-forms a:nth-child(n+5) {
    grid-column: span 2;
}
.available-forms a:nth-child(n+7) {
    grid-column: span 4;
}
.available-form {
    width: 100%;
}


